<!DOCTYPE html>
<html>
  <head>
  <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-database.js"></script>
    <link rel="stylesheet" type="text/css" href="css/banner.css">
    <link rel="icon" type="image/jpg" href="images/logodc.png">
    <link rel="stylesheet" type="text/css" href="css/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/home1.7.css">
    <meta charset="utf-8">
    <meta name="descrition" content="Programming tutorials,PHP,Java,javascript,flutter,flutter dev,android application,learn programming,learn coding,python, SQL,MySQL, full stack developer,Web development,Deep Coding">
    <meta name="application-name" content="Deep Coding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deep Coding</title>
  </head>
  <script type="text/javascript" src="js/typeeffect1.1.js"></script>
  <script type="text/javascript" src="js/nav.js"></script>

  
  <body onload="typeWriter()">


  <div id="main">
    
    <div id="topbar">
      <div class="navbar" onclick="OpenAndClose(this)">
        <div class="bar1"></div>
       <div class="bar2"></div>
       <div class="bar3"></div>
         </div>
         <h1><img src="images/dclogo.jpg" width="50px">.in</h1>
      <div id="ul">
         <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/about">About</a></li>
       <li><a href="/explore">Explore</a></li>
       <li><a href="/contact">Contact</a></li>
       <li><a href="/login">Sign In</a></li>
     </ul>
      
      </div>
     
      
    </div>


 <div id="menu">
  <a href="" class="item">Home</a>

 <a href="" class="item" target="_blank">About</a>
<a href="welcome.php" class="item" target="_blank">Explore</a>
 <a href="" class="item" target="_blank">Contact</a>
<a href="login.php" class="item" target="_blank">Sign In</a>
</div>



  <div class="container">
    <div id="container1">
     <h1 id="heading">Welcome to Deep Coding.</h1>
      <p>Deep Coding helps you to explore the coding related contents, articles, news, ideas, fixing bugs and more.You can also  share your knowledge, collaborate, and build your career from basic to deep.Let's start together.
      </p>
      <a href="welcome.php" id="bmain" >Learn More</a>
  </div>
       <div id="container2">
    <div id="cbody">
      <div id="cbodytop">
        <div id="red"></div>
        <div id="green"></div>
        <div id="blue"></div>
      </div>
      <pre style="font-family: Verdana ,sans-serif;" id="code">
       
     </pre>
    </div>
  </div>
  </div>
<div id="body3">
       <strong>Popular Posts</strong>
     </div>
       <div  id="body2">

       </div>


     
        
      <div id="body4">
         <div id="media">
            <h2>Follow</h2>
            <a href=""><img src="images/facebooklogo.png" width="50px"></a>
              <a href="https://www.instagram.com/deepcoding.in/" rel="nofollow" target="_blank" refferrerpolicy="no-referrer"><img src="images/insta.png" width="50px"></a>
                <a href="#"><img src="images/twitter.png" width="50px"></a>
          </div>
        <div id="bottom-body">
          
         
          <div id="contact">
            
            <pre>
              <h2>Contact</h2>
              <a href="mailto:deepcoding.in@gmail.com">Send Email</a>

            </pre>
          </div>
          <div id="about">
            <pre style="padding: 10px 10px;">
              <h2>About</h2>
              News Articles
              Posts
              Coding Examples
              Programming Tutorials
              Projects

            </pre>
          </div>
          
                  </div>
      </div>
  </div>
  
  </body>
  <script type="text/javascript" src="js/posts1.js"></script>
</html>
