<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/login.css">
	 <link rel="stylesheet" type="text/css" href="css/banner.css">
	<link rel="icon" type="image" href="images/logodc.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Log In</title>
</head>
<body>
	<div id="topbar">
		<img src="images/logodc.png" width="50px" id="logo">
		
	</div>
<form method="post" enctype="multipart/form-data" >
	<div id="body">
	<img src="/images/logodc.png" width="50%" id="logoimg">
	<h1>Log In here</h1>
	<div class="part">
		<label>Email Id:</label>
	<input type="Email" name="email" placeholder="Enter your email id." class="text-box">
	</div>
	<div class="part">
		<label>Password:</label>
	<input type="Password" name="pass" placeholder="Enter your password." class="text-box">
	</div>
	<div class="part">
		<input type="submit" name="login" value="Log In" id="loginb">
		<label>OR</label>
		<a type="button" id="registerb" href="/register">Register</a>
	</div>
</div>
</form>
</body>
</html>